<h1> <%= @soup.name %> </h1>

<p>Ingredient: <%= @soup.ingredients %></p>
<p>Vegetarian: <%= @soup.vegetarian %></p>
<img src="<%= @soup.image_url %>">

<style>
img {
  width: auto;
  height: 400px
}
</style>